* {
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  list-style:none;
}

html,
body {
  min-height: 100% !important;
  height: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none !important;
  position: absolute;
  min-width: 160px;
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block !important;
}

.navmenu { /* Navigation menu */
  width: 100%;
  background-color: rgb(163, 161, 161);
}

.navmenu *{  /* Links in navigation menu and search bar */
  display: inline;
}
 
.product { /* Product link */
  display: inline-block;
}

#menu-right {
  float: right;
}

.cms-navmenu { /* CMS navigation menu */
  float: left;
}

.content { /* Non-static page content */
  margin: 10px;
  margin-left: 40vw;
  width: 25vw;
}

.cms-content { /* Non-static CMS content */
  margin: 10px;
  margin-left: 40vw;
  width: 25vw;
}

#banner {
  text-align: center;
}

.products-featured {
  margin-bottom: 30px;
}
/*Footer css style*/
.container-footer {
  display: block;
  text-align: center;
  background-color: grey;
} 
/*social-icons style*/
.social-links {
  display: flex;
}
 
.social-items {
  list-style: none;
  display: inline-block;
  vertical-align: middle;
}

.social-items a {
  text-align: right;
  font-size: 20px;
  padding: 10px 20px;
}

.quick-items {
  list-style: none;
}

.quick-items a {
  text-decoration: none;
  padding: 0px 15px;
}
/* about us style */
.h1_style{
  text-align: center;
  color: rgb(163, 108, 26);
}
/* image style css |about us */
.image_bakery{
  display: flex;
  width: 400px;
  height: 400px;
}
.p_about_us{
  text-align: center;
}